body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
}
* {
  box-sizing: border-box;
}
h1,h2,h3,h4,p,span {
  margin: 0;
  padding: 0;
}
.bf-container {
  @media only screen and (max-width: $container-width){
    padding: 0 30px;
    max-width:100%;
    width: 100%;
  };
  max-width: 1185px;
  margin: 0 auto;
  position: relative;

  // @include respond-to('tablet'){
  //   width: 100%;
  //   padding: 0 32px;
  // };
  @include respond-to('mobile'){
    padding: 0 13px;
  };
}
