.bf-deal-btn {

  @include basic-button-style;
  width: 110px;
  height: 35px;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: #ffaa00;
  box-shadow: 0 2px 1px 0 rgba(255, 170, 0, 0.22);
  border: solid 1px #ffffff;
  font-family: $primary-font-family;
  font-size: 14px;
  color: white;
  &::after {
    // margin-left: 3px;
    content: url(../assets/button-icon.svg);
    display: inline-block;
    vertical-align: middle;
  }
}
