.bf-categories {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.bf-category {
  &-block {
    position: relative;
    background-color: white;
    height: 140px;
    padding: 8px 15px;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    @include respond-to('desktop'){
      flex: 0 0 calc(20% - #{$distance-btw-products-box--lor});
    };

    @include respond-to('tablet'){
      flex: 0 0 calc(33.333% - #{$distance-btw-products-box--lor}*2/3);
      margin-bottom: 15px;
    };

    @include respond-to('mobile'){
      flex: 0 0 calc(50% - #{$distance-btw-products-box--lor}/2);
    };

    &--light-blue {
      background-image: url(../assets/oval-light-blue.svg);
    }
    &--light-violet {
      background-image: url(../assets/oval-light-violet.svg);
    }
    &--violet {
        background-image: url(../assets/oval-violet.svg);
    }
    &--turquoise {
        background-image: url(../assets/oval-turquoise.svg);
    }

    &__product-image {

    }
    .bf-deal-btn {
      position: absolute;
      bottom: 14px;
      left: 15px;
    }
  }
  // &-block:last-child{
  //   flex-grow: 1;
  // }
  @include respond-to('tablet'){
    &-block:nth-last-child(-n+2){
      flex: 0 0 calc(50% - #{$distance-btw-products-box--lor}/2);
      margin-bottom: 0;
    }
  };
  @include respond-to('mobile'){
    &-block:last-child {
      flex: 0 0 calc(100%);
      margin-bottom: 0;
    }
  };
  &-title {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    &__text {
      color: #52667d;
      font-family: $primary-font-family;
      text-transform: capitalize;
      &--name {
        font-size: 16px;
        line-height: 1.56;
        font-weight: 400;
      }
      &--deal {
        font-size: 24px;
        line-height: 1.04;
      }
    }
  }
}
