.bf-section-title {
  margin-top: 37px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  &__text {
    background-color: $background-color;
    padding: 0 10px;
    z-index: 1000;
  }
  h2 {

   text-transform: uppercase;
   font-family: Lato;
   font-size: 16px;
   line-height: 1;
   letter-spacing: 0.8px;
   text-align: center;
   color: #50657c;
   font-weight: 400;


  }
  &::after {
    content: '';
    height: 1px;
    background-color: #cedfe1;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
