.bf-top-nav {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  &__wrap {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    flex-direction: row;
    height: 100%;
  }
  &__button {
    @include basic-button-style;
    background-color: transparent;
    font-family: $primary-font-family;
    font-size: 15px;
    color: #6599a3;
    &:after {
      content: "";
      background-image: url(../assets/arrow-down.png);
      background-size: contain;
      margin-left: 8.1px;
      display: inline-block;
      height: 8px;
      width: 14px;
    }
  }
}
.bf-logo {
  width: 174px;
  height: 19px;
  background-image: url(../assets/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;

}
